In [133]:
import numpy as np
import pandas as pd
import pickle as pkl

In [178]:
with open('../data/bodies_data.pkl', 'rb') as f:
    bodies = pkl.load(f)
with open('../data/markers_data.pkl', 'rb') as f:
    markers = pkl.load(f)

In [187]:
bodies_df = pd.DataFrame(bodies, columns = ['t', 'id', 'x', 'y', 'z', 'x_q', 'y_q', 'z_q', 'w_q'])
markers_df = pd.DataFrame(markers, columns = ['t', 'm_id', 'm_x', 'm_y', 'm_z'])

### Join 2 dataframes
Cannot merge as float time are not comparable.

In [180]:
#drop duplicates
bodies_df = bodies_df.drop_duplicates(subset = ['x','y','z','x_q','y_q','z_q','w_q'], keep = 'first')
bodies_df.head()

,t,id,x,y,z,x_q,y_q,z_q,w_q
0,1.611314e+09,1,0.100036,-0.572102,0.202019,0.709541,0.086937,-0.072133,0.695551
3,1.611314e+09,1,0.101529,-0.572538,0.201918,0.700738,0.096459,-0.077450,0.702612
5,1.611314e+09,1,0.101544,-0.572704,0.202099,0.699010,0.099955,-0.078256,0.703754
6,1.611314e+09,1,0.101295,-0.572678,0.202246,0.699793,0.099700,-0.079460,0.702877
7,1.611314e+09,1,0.100796,-0.572625,0.202419,0.698735,0.100388,-0.085454,0.703128

In [188]:
# drop duplicates
markers_df = markers_df.drop_duplicates(subset = ['m_x', 'm_y', 'm_z'], keep = 'first')
markers_df.head()

              t  m_id       m_x       m_y       m_z
0  1.611314e+09     0  0.085140 -1.230061 -0.571589
1  1.611314e+09     1  0.091216 -0.567780  0.130091
2  1.611314e+09     2 -0.482550 -0.894645  0.265399
3  1.611314e+09     3 -0.661066 -1.068201  0.198046
4  1.611314e+09     0  0.114537 -0.577837  0.182329

In [185]:
# drop duplicates
markers_df = markers_df.drop_duplicates(subset = ['m_x', 'm_y', 'm_z'], keep = 'first')

# keep those with y around -0.5 to -0.6
markers_df = markers_df[markers_df['m_y'] < -0.5]
markers_df = markers_df[markers_df['m_y'] > -0.6]
markers_df.head()

# keep those with z around -0.12 to -0.14
markers_df = markers_df[markers_df['m_z'] < -0.12]
markers_df = markers_df[markers_df['m_z'] > -0.14]
markers_df.head()

                 t  m_id       m_x       m_y       m_z
317   1.611314e+09     2 -0.401264 -0.585546 -0.138701
1339  1.611314e+09     1  0.015706 -0.572457 -0.122331
1342  1.611314e+09     1  0.015447 -0.572196 -0.127619
1345  1.611314e+09     1  0.015289 -0.572127 -0.132764
1348  1.611314e+09     1  0.014885 -0.572030 -0.137815

In [ ]:
# process bodies_df
bodies_df['x_y_rms'] = bodies_df.apply(lambda row: (row.x**2 + row.y**2)**0.5, axis=1)

In [ ]:
# process markers_df
markers_df['x_y_rms'] = markers_df.apply(lambda row: (row.m_x**2 + row.m_y**2)**0.5, axis=1)
markers_df.head()
markers_df['t'][0]

In [ ]:
bodies_df.head(10)
x_y_avg = bodies_df['x_y_rms'].mean()
print(x_y_avg)

In [ ]:
# filter out those that are too high away from temp
# markers_df = markers_df[markers_df['x_y_rms'] < x_y_avg]
# markers_df