In [1]:
import numpy as np
import pandas as pd
import pickle as pkl

In [2]:
with open('../data/bodies_data.pkl', 'rb') as f:
    bodies = pkl.load(f)
with open('../data/markers_data.pkl', 'rb') as f:
    markers = pkl.load(f)

In [3]:
bodies_df = pd.DataFrame(bodies, columns = ['t', 'id', 'x', 'y', 'z', 'x_q', 'y_q', 'z_q', 'w_q'])
markers_df = pd.DataFrame(markers, columns = ['t', 'm_id', 'm_x', 'm_y', 'm_z'])

# bodies_df.head()
markers_df.head()

              t  m_id       m_x       m_y       m_z
0  1.611314e+09     0  0.085140 -1.230061 -0.571589
1  1.611314e+09     1  0.091216 -0.567780  0.130091
2  1.611314e+09     2 -0.482550 -0.894645  0.265399
3  1.611314e+09     3 -0.661066 -1.068201  0.198046
4  1.611314e+09     0  0.114537 -0.577837  0.182329

### Join 2 dataframes
Cannot merge as float time are not comparable.

In [4]:
# drop duplicates in rigid body df
bodies_df.drop_duplicates(subset =["x","y","z","x_q","y_q","z_q","w_q"], 
                     keep = False, inplace = True) 
bodies_df.head()

,t,id,x,y,z,x_q,y_q,z_q,w_q
5,1.611314e+09,1,0.101544,-0.572704,-0.572704,0.699010,0.099955,-0.078256,0.703754
6,1.611314e+09,1,0.101295,-0.572678,-0.572678,0.699793,0.099700,-0.079460,0.702877
7,1.611314e+09,1,0.100796,-0.572625,-0.572625,0.698735,0.100388,-0.085454,0.703128
8,1.611314e+09,1,0.100202,-0.572546,-0.572546,0.694841,0.101147,-0.093473,0.705853
12,1.611314e+09,1,0.098290,-0.571667,-0.571667,0.695868,0.103950,-0.105021,0.702804

In [5]:
# process bodies_df
bodies_df['x_y_rms'] = bodies_df.apply(lambda row: (row.x**2 + row.y**2)**0.5, axis=1)

In [6]:
# process markers_df
markers_df.drop_duplicates(subset = ['m_x','m_y','m_z'], keep = False, inplace=True)
markers_df['x_y_rms'] = markers_df.apply(lambda row: (row.m_x**2 + row.m_y**2)**0.5, axis=1)

In [7]:
bodies_df.head(10)
x_y_avg = bodies_df['x_y_rms'].mean()
print(x_y_avg)

0.7247735995185293

In [9]:
# filter out those that are too high away from temp
markers_df = markers_df[markers_df['x_y_rms'] < x_y_avg]
markers_df

                 t  m_id       m_x       m_y       m_z   x_y_rms
1     1.611314e+09     1  0.091216 -0.567780  0.130091  0.575060
4     1.611314e+09     0  0.114537 -0.577837  0.182329  0.589079
6     1.611314e+09     2  0.091738 -0.568059  0.130089  0.575418
7     1.611314e+09     3  0.074227 -0.567865  0.188694  0.572696
8     1.611314e+09     4  0.135538 -0.586660  0.208044  0.602113
...            ...   ...       ...       ...       ...       ...
4610  1.611314e+09     1 -0.001732 -0.626749  0.088827  0.626751
4614  1.611314e+09     1 -0.001236 -0.626041  0.088411  0.626043
4618  1.611314e+09     1 -0.000632 -0.625306  0.088142  0.625306
4623  1.611314e+09     1  0.000031 -0.624378  0.087729  0.624378
4627  1.611314e+09     1  0.000642 -0.623425  0.087411  0.623426

[1164 rows x 6 columns]